<% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
<% end %>
  <div class="book-item">
    <div class="book-title">
      <%= @book.title %>
    </div>
    <div class="book-body">
      <%= @book.body %>
    </div>
    <div>
      <%= link_to "Edit", edit_book_path(@book.id) %>
      <%= link_to"Back",books_path%>

    </div>
  </div>
